body{
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}
textarea:focus, input:focus{
    outline: none;
}
.container{
    margin: center;
    margin-top: 40px;
}

/*AREA 1*/
.area1{
    color: #0A3871;
}
#textoParaCriptografar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    margin: 10% 20% 0;
    width: 680px;
    border: none;
    background-color: transparent;
    color: #0A3871;
    resize: none;
}
#textoParaCriptografar::-webkit-input-placeholder {
    color: #0A3871;
}
/* BOTOES*/
.container-botoesEalerta{
    position: relative;
    left: 15%;
}
button{
    border-radius: 24px;
    width: 248px;
    height: 67px;
}
.botaoCriptografar{
    border: none;
    background: #0A3871;
    color: #FFFFFF;
    margin: 0 auto;
    display: inline;
    margin-bottom: 67px;
}
.botaoDescriptografar{
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
    color: #0A3871;
    margin: 0 auto;
    display: inline;
    margin-bottom: 67px;
}

/*AREA 2*/
.area2{
    float: right;
}
#mostraMensagemDecodificada{
    position: relative;
    padding: 10%;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.imageEmptySearch{
    display: none;
}
/*COMPUTADOR*/
@media screen and (min-width: 992px) {
    .imageEmptySearch {
        display: block;
        width: 90%;
        height: auto;
    }
    .textoParaCriptografar{
        width: 580px;
    }
    #mostraMensagemDecodificada{
        padding: 50% 10%;
        width: 376px;
        height: 758.47px;
    }
}
/*MOBILE*/
@media screen and (max-width: 480px) {
    .container-botoesEalerta{
        float: none;
        left: 0;
    }
    .botaoCriptografar{
        width: 100%;
    }
    .botaoDescriptografar{
        width: 100%;
    }
    #textoParaCriptografar{
        margin: 56px 0;
    }
}
